body{
    background-color: rgba(250, 235, 215, 0);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin:0 auto;
}
.btn{
    background-color: blue;
    font-size: 45px;
    padding:10px 25px;
}
#x,#y,#answer{
    font-size: 45px;
}
#x, #y
{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
#answer{
    margin-top:15px;

    border:2px solid black;
    text-align: center;
}
.clear{
    margin-top: 15px;
    text-align: center;
}